body {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    background-image: url("https://bit.ly/35JxbPt");

}
ul{
    display:flex;
    list-style-type: none;
    
    
}
li {
    text-decoration: none;
    width: 10%;
    list-style-type: none;
    font-size: 20px;
    width: 20%;
    
}
ul li{
    text-decoration: none;
    background-color:grey;
    color: white;
    


}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    width: 30%;
    border-radius: 30%;
}
ul li a:hover{
    background-color: black;
    color:orange;
}
#home img{
    border-radius: 50px;
    margin-left: 40%;
}
h1{
    text-align: center ;
    color: white;
    font-size: 40px;
}
